
body {
    color: #21243D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #21243D;
}

header ul li {
    text-align: center;
    padding: 10px 0 10px 0;
    

}